<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">ESCALP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="user">
          <a routerLink="profile" class="nav-link">Profil de {{user.first_name}}</a>
        </li>


        <li class="nav-item" *ngIf="isAuth">
          <a routerLink="outings" class="nav-link">Propositions de courses</a>
        </li>

        <li class="nav-item" *ngIf="isAuth">
          <div (click)="signOut()" class="nav-link" style="cursor: pointer;">Se déconnecter</div>
        </li>

        <li class="nav-item" *ngIf="!isAuth">
          <a routerLink="signin" class="nav-link" style="cursor: pointer;">Se connecter</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
