<section class="py-5">
  <div class="container">

    <h1>Propositions de courses</h1>

    <h4>{{user}}, au départ de {{station}}</h4>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-6" *ngFor="let book of outings">
            <div class="card mb-4 shadow-sm">
              <!--
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                   preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                   aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect fill="#55595c" width="100%" height="100%"/>
                <text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text>
              </svg>
              -->
              <app-map [id]="book.uid" [with_pt_layer]=false></app-map>
              <div class="card-body">
                <p class="card-text">{{ book.name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" (click)="onViewBook(book.uid)" class="btn btn-sm btn-outline-secondary">
                      Découvrir
                    </button>
                  </div>
                  <small class="text-muted"> voiture: {{book.car_duration | number:'1.0-0'}} min | tp:
                    {{book.pt_duration | number:'1.0-0'}} min | score: {{book.score | number:'1.0-1'}}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



