<!-- Navigation -->


<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full"
        style="background-image: url('https://lh3.googleusercontent.com/ASXNEXrshYQk1rHG8z0tXtwSGSjR4Z2D93BL8fg8LDNX7WXKE0yjYfqaed6wqkCOL7pNGC0zP_WQZ7qM34zIjq7dmK6ra5uMbe6j7is8S5GbrzkEg5AYpES_a3YTCnbTs1xULtNy690SkuYMocFhrlvtVZQBbMdq7lLdYoCeMDR-skudrjnCyGBzmjDg9U9UC8LZb5yDBBhvMIth19V3Pz129DNyo5Sdwqdz67gj8O-Izg3n84IyOXNkxTsswHtNVdNZDQFMH28b9zK1okFZ1iiCMg-KsYZVZ2zTvl0eSHnE7gOVPtgbvBViiSw3Djqa7JozKFSOIx1-ThikyCIavT_U0tnnDfAlPeSYkh0dvLjjMW2DovSeBGr3YR8PqMLk7IR2RkDY0vAjLLLj95bdJ3iga7otyhd6TW4d4srpQSwFy6j14TSv7SzXZE35Zw05O0Qai2tdSwQ7XC0m5AyD99d9XozKt80MJcG6CzNspTODpXcuq2ODzrUnHklgu8ZaXIjWHG6dKmp7xnbhEMA39IanXWMklFDFrZwMgSwfgd8ZhdZ0--8tb2dgo0RwzjapPVcKn3apQlp8fuM1bjWQuzojBLFjJGrTibtMmxywXphomxjhjHAoJgdISrDckVBkQbZskivuELTnnyMTJj7scWtOzTq1lkg3vBHbfW3e1RVpeeRMPeTrhqoKnVrIcoK6Rk7TOShN2syiXHO47g=w1000-h750-no');">
  <img class="img-fluid d-block mx-auto" src="assets/logo_181220-01.png" alt="" style="width: 128px; height: 128px;">
</header>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <p class="lead">ESCALP est au <strong>moteur de recommandation</strong> destiné aux amoureux de la montagne.</p>
      <h2></h2>
      <p class="text-justify">Grâce à son algorithme ESCALP suggère des propositions de courses en montagneà ses
        abonnées. Connaissant les
        conditions actuelles (météo, neige, avalanche), la difficulté de la course et accessibilité transport en commun,
        ESCALP evalue plus de 1000 courses de ski de randonnées.</p>
      <p class="text-justify">Actuellement, nous sommes activement en train de développer ESCALP. Si tu veux nous
        encourager, nous aider ou
        nous proposer des améliorations, n'hésite pas à nous écrire à <a href="mailto:team@escalp.ch?Subject=Hello"
                                                                         target="_top">team@escalp.ch</a></p>

    </div>
  </div>
</section>


<!-- Icons Grid -->
<section class="features-icons bg-light text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="assets/avalanche.png" alt="..." class="mx-auto d-block"
                 style="width: 128px; height: 128px;">
          </div>
          <h3>Conditions</h3>
          <p class="lead mb-0">Les conditions de neige, météo, avalanche, sont actualisées chaque jour</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="assets/icone_bus_noir-01.png" alt="..." class="mx-auto d-block"
                 style="width: 128px; height: 128px;">
          </div>
          <h3>Accessibilité</h3>
          <p class="lead mb-0">Le trajet entre le domicile et le point de départ de la course est calculé (trasnport
            public & voiture)</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img src="assets/logo_sans_texte.png" alt="..." class="mx-auto d-block"
                 style="width: 128px; height: 128px;">
          </div>
          <h3>Niveau</h3>
          <p class="lead mb-0">Dénivelé, passages techniques, ...</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Image Section - set the background image for the header in the line below
<section class="py-5 bg-image-full" style="background-image: url('assets/header.png');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes!
  <div style="height: 200px;"></div>
</section>
-->
<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Comment ça fonctionne?</h1>
    <p class="lead">Inscris-toi gratuitement!</p>
    <p>Nous avons besoin de quelques informations (rien de trop personnel). Après ton inscription tu recevras une
      newsletter chaque jour aves des propositions de courses personnalisées.</p>

    <p>En haut à droite, sous <strong>propositions des courses</strong>, tu trouveras des exemples de proposition au
      départ de Sion.</p>

    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">

        <app-signup-form></app-signup-form>

        <img class="img-fluid d-block mx-auto" src="assets/header.png" alt="" style="height: 128px;">

      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>


</section>

<!--
<section class="py-5">
  <div class="container">
    <h1>Qui sommes-nous?</h1>
  </div>
</section>
-->

