<!-- Navigation -->


<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full"
        style="background-image: url('https://lh3.googleusercontent.com/ASXNEXrshYQk1rHG8z0tXtwSGSjR4Z2D93BL8fg8LDNX7WXKE0yjYfqaed6wqkCOL7pNGC0zP_WQZ7qM34zIjq7dmK6ra5uMbe6j7is8S5GbrzkEg5AYpES_a3YTCnbTs1xULtNy690SkuYMocFhrlvtVZQBbMdq7lLdYoCeMDR-skudrjnCyGBzmjDg9U9UC8LZb5yDBBhvMIth19V3Pz129DNyo5Sdwqdz67gj8O-Izg3n84IyOXNkxTsswHtNVdNZDQFMH28b9zK1okFZ1iiCMg-KsYZVZ2zTvl0eSHnE7gOVPtgbvBViiSw3Djqa7JozKFSOIx1-ThikyCIavT_U0tnnDfAlPeSYkh0dvLjjMW2DovSeBGr3YR8PqMLk7IR2RkDY0vAjLLLj95bdJ3iga7otyhd6TW4d4srpQSwFy6j14TSv7SzXZE35Zw05O0Qai2tdSwQ7XC0m5AyD99d9XozKt80MJcG6CzNspTODpXcuq2ODzrUnHklgu8ZaXIjWHG6dKmp7xnbhEMA39IanXWMklFDFrZwMgSwfgd8ZhdZ0--8tb2dgo0RwzjapPVcKn3apQlp8fuM1bjWQuzojBLFjJGrTibtMmxywXphomxjhjHAoJgdISrDckVBkQbZskivuELTnnyMTJj7scWtOzTq1lkg3vBHbfW3e1RVpeeRMPeTrhqoKnVrIcoK6Rk7TOShN2syiXHO47g=w1000-h750-no');">
  <img class="img-fluid d-block mx-auto" src="assets/logo_sans_texte.png" alt="" style="width: 128px; height: 128px;">
</header>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1 class="text-center">Escalp</h1>
    <div class="row">
      <div class="col-md-6">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat
          architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>

      </div>
      <div class="col-md-6"></div>

      <img class="img-fluid d-block mx-auto" src="assets/logo_sans_texte.png" alt=""
           style="width: 128px; height: 128px;">
    </div>
  </div>
</section>




<img src="assets/icone_bus_noir-01.png" alt="..." class="rounded-circle" style="width: 128px; height: 128px;">


<!-- Image Section - set the background image for the header in the line below
<section class="py-5 bg-image-full" style="background-image: url('assets/header.png');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes!
  <div style="height: 200px;"></div>
</section>
-->
<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Section Heading</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat
      architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
  </div>
</section>




